
.logo {
    background-image: url("../images/office.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 50px;
    height: 200px;
    width: 300px;
}

.navbuttons {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(188, 188, 188, 0.8);
    display:block;
    border: 1px solid White;
    margin: 1px;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 15px;
}

.navbuttons:hover {
    background-color: rgba(188, 188, 188, 1);
    
}
.headerbackground
{
    height: 255px;
    background-image: url("../images/stars.jpg");
    background-size: cover;

}
.headerdiv
{ 
    grid-area: header;
    height: 255px;
    background-image: url("../images/stars.jpg");
    background-size: cover;
}
.vertical-menu{ grid-area: menu;}
.maindiv{ grid-area: main;}
.rightdiv{ grid-area: right;}
.footerdiv 
{ 
    grid-area: footer;
    background-color: greenyellow;
    height: 165px;
}

.grid-container-area 
{
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main right'
        'footer footer footer footer footer footer';
        grid-gap: 10px;
        padding: 5px;
}

.copybox
{
    height: 165px;
    border: none;
}
